{% extends 'boussole_partials/public_base.html.twig' %}

{% block title %}Le portail Scolarité Services | C.S.P La Boussole{% endblock %}

{% block body %}
<!-- HERO
================================================== -->
<section class="py-4 py-md-13 position-relative bg-white">
    <!-- Cursor position parallax -->
    <div class="position-absolute right-0 left-0 top-0 bottom-0">
        <div class="cs-parallax">
            <div class="cs-parallax-layer" data-depth="0.1">
                <img class="img-fluid" src="/boussole_assets/img/parallax/layer-01.svg" alt="Layer">
            </div>
            <div class="cs-parallax-layer" data-depth="0.3">
                <img class="img-fluid" src="/boussole_assets/img/parallax/layer-02.svg" alt="Layer">
            </div>
            <div class="cs-parallax-layer" data-depth="0.2">
                <img class="img-fluid" src="/boussole_assets/img/parallax/layer-03.svg" alt="Layer">
            </div>
            <div class="cs-parallax-layer" data-depth="0.2">
                <img class="img-fluid" src="/boussole_assets/img/parallax/layer-04.svg" alt="Layer">
            </div>
            <div class="cs-parallax-layer" data-depth="0.4">
                <img class="img-fluid" src="/boussole_assets/img/parallax/layer-05.svg" alt="Layer">
            </div>
            <div class="cs-parallax-layer" data-depth="0.3">
                <img class="img-fluid" src="/boussole_assets/img/parallax/layer-06.svg" alt="Layer">
            </div>
            <div class="cs-parallax-layer" data-depth="0.2">
                <img class="img-fluid" src="/boussole_assets/img/parallax/layer-07.svg" alt="Layer">
            </div>
            <div class="cs-parallax-layer" data-depth="0.2">
                <img class="img-fluid" src="/boussole_assets/img/parallax/layer-08.svg" alt="Layer">
            </div>
            <div class="cs-parallax-layer" data-depth="0.4">
                <img class="img-fluid" src="/boussole_assets/img/parallax/layer-09.svg" alt="Layer">
            </div>
            <div class="cs-parallax-layer" data-depth="0.3">
                <img class="img-fluid" src="/boussole_assets/img/parallax/layer-10.svg" alt="Layer">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-5 col-lg-6 order-md-2" data-aos="fade-in" data-aos-delay="50">

                <!-- Image -->
                <img src="/boussole_assets/img/illustrations/illustration-1.png" class="img-fluid mw-md-150 mw-lg-130 mb-6 mb-md-0" alt="...">

            </div>
            <div class="col-12 col-md-7 col-lg-6 order-md-1 px-md-0">
                <!-- Heading -->
                <h1 class="display-2" data-aos="fade-left" data-aos-duration="150">
                    Le portail Scolarité Services du <span class="text-orange fw-bold">C.S.P La Boussole</span>
                </h1>

                <!-- Text -->
                <p class="lead pe-md-8" data-aos="fade-up" data-aos-duration="200">
                    Scolarité Services est un portail pour les parents d’élèves du C.S.P La Boussole de Port-Gentil, proposant un accès unique aux services et démarches liés au suivi de la scolarité de leurs enfants.
                </p>

                <!-- Buttons -->
                <a href="course-list-v1.html" class="btn btn-wide btn-slide slide-primary shadow mb-4 mb-md-0 me-md-5 text-uppercase" data-aos-duration="200" data-aos="fade-up">Services (Parents d'élèves)</a>
                <a href="course-list-v1.html" class="btn btn-primary btn-wide lift d-none d-lg-inline-block text-uppercase" data-aos-duration="200" data-aos="fade-up">Suivi des Examens</a>

            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</section>

<!-- CATEGORIES
================================================== -->
<section class="py-5 py-md-11 bg-white">
    <div class="container">
        <div class="text-center mb-md-7 mb-4" data-aos="fade-up">
            <h1 class="mb-1">Nos services en ligne</h1>
            <p class="font-size-lg mb-0 text-capitalize">Accédez aux différents services en ligne du C.S.P La Boussole</p>
        </div>

        <div class="mx-n4" data-flickity='{"pageDots": false, "prevNextButtons": true, "cellAlign": "left", "wrapAround": true, "imagesLoaded": true}'>
            <div class="col-6 col-lg-4 col-xl-3 pt-2 pb-4 px-md-4" data-aos="fade-up" data-aos-delay="50">
                <!-- Card -->
                <a href="course-list-v3.html" class="card icon-category card-border-hover icon-category border shadow-dark-hover p-md-5 p-3 text-center lift">
                    <!-- Image -->
                    <div class="position-relative" style="color: #f0e7f3;">
                        <div class="position-absolute bottom-0 right-0 left-0" style="color: #B94EE4;">
                            <i class="fas fa-bezier-curve"></i>
                        </div>
                        <!-- Icon BG -->
                        <svg width="116" height="82" viewBox="0 0 116 82" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11.9238 65.8391C11.9238 65.8391 20.4749 72.4177 35.0465 70.036C49.6182 67.6542 75.9897 78.4406 75.9897 78.4406C75.9897 78.4406 90.002 85.8843 104.047 79.2427C118.093 72.6012 115.872 58.8253 115.872 58.8253C115.743 56.8104 115.606 46.9466 97.5579 22.0066C91.0438 13.0024 84.1597 6.97958 75.9458 3.74641C58.8245 -2.99096 37.7881 -0.447684 22.9067 9.81852C15.5647 14.8832 7.65514 22.0695 3.0465 31.5007C-7.27017 52.6135 11.9238 65.8391 11.9238 65.8391Z" fill="currentColor"/>
                        </svg>

                    </div>

                    <!-- Footer -->
                    <div class="card-footer px-0 pb-0 pt-6">
                        <h5 class="mb-0 line-clamp-1">Examens et Concours</h5>
                        <p class="mb-0 line-clamp-1">Suivi de nos Examens et Concours</p>
                    </div>
                </a>
            </div>

            <div class="col-6 col-lg-4 col-xl-3 pt-2 pb-4 px-md-4" data-aos="fade-up" data-aos-delay="250">
                <!-- Card -->
                <a href="course-list-v3.html" class="card icon-category card-border-hover border shadow-dark-hover p-md-5 p-3 text-center lift">
                    <!-- Image -->
                    <div class="position-relative" style="color: #f0e7f3;">
                        <div class="position-absolute bottom-0 right-0 left-0" style="color: #B94EE4;">
                            <i class="fas fa-camera"></i>
                        </div>
                        <!-- Icon BG -->
                        <svg width="116" height="82" viewBox="0 0 116 82" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11.9238 65.8391C11.9238 65.8391 20.4749 72.4177 35.0465 70.036C49.6182 67.6542 75.9897 78.4406 75.9897 78.4406C75.9897 78.4406 90.002 85.8843 104.047 79.2427C118.093 72.6012 115.872 58.8253 115.872 58.8253C115.743 56.8104 115.606 46.9466 97.5579 22.0066C91.0438 13.0024 84.1597 6.97958 75.9458 3.74641C58.8245 -2.99096 37.7881 -0.447684 22.9067 9.81852C15.5647 14.8832 7.65514 22.0695 3.0465 31.5007C-7.27017 52.6135 11.9238 65.8391 11.9238 65.8391Z" fill="currentColor"/>
                        </svg>

                    </div>

                    <!-- Footer -->
                    <div class="card-footer px-0 pb-0 pt-6">
                        <h5 class="mb-0 line-clamp-1">Inscription et Réinscription</h5>
                        <p class="mb-0 line-clamp-1">Informations sur les inscriptions, les réinscriptions, la liste des fournitures scolaires, le prix des tenues et autres</p>
                    </div>
                </a>
            </div>

            <div class="col-6 col-lg-4 col-xl-3 pt-2 pb-4 px-md-4" data-aos="fade-up" data-aos-delay="100">
                <!-- Card -->
                <a href="course-list-v3.html" class="card icon-category card-border-hover border shadow-dark-hover p-md-5 p-3 text-center lift">
                    <!-- Image -->
                    <div class="position-relative" style="color: #fcefe9;">
                        <div class="position-absolute bottom-0 right-0 left-0" style="color: #F55101;">
                            <i class="fas fa-briefcase"></i>
                        </div>
                        <!-- Icon BG -->
                        <svg width="116" height="82" viewBox="0 0 116 82" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11.9238 65.8391C11.9238 65.8391 20.4749 72.4177 35.0465 70.036C49.6182 67.6542 75.9897 78.4406 75.9897 78.4406C75.9897 78.4406 90.002 85.8843 104.047 79.2427C118.093 72.6012 115.872 58.8253 115.872 58.8253C115.743 56.8104 115.606 46.9466 97.5579 22.0066C91.0438 13.0024 84.1597 6.97958 75.9458 3.74641C58.8245 -2.99096 37.7881 -0.447684 22.9067 9.81852C15.5647 14.8832 7.65514 22.0695 3.0465 31.5007C-7.27017 52.6135 11.9238 65.8391 11.9238 65.8391Z" fill="currentColor"/>
                        </svg>

                    </div>

                    <!-- Footer -->
                    <div class="card-footer px-0 pb-0 pt-6">
                        <h5 class="mb-0 line-clamp-1">Paiement et Scolarité</h5>
                        <p class="mb-0 line-clamp-1">Suivi du paiement de la scolarité</p>
                    </div>
                </a>
            </div>

            <div class="col-6 col-lg-4 col-xl-3 pt-2 pb-4 px-md-4" data-aos="fade-up" data-aos-delay="400">
                <!-- Card -->
                <a href="course-list-v3.html" class="card icon-category card-border-hover border shadow-dark-hover p-md-5 p-3 text-center lift">
                    <!-- Image -->
                    <div class="position-relative" style="color: #f6e7e9;">
                        <div class="position-absolute bottom-0 right-0 left-0" style="color: #F15571;">
                            <i class="fas fa-wallet"></i>
                        </div>
                        <!-- Icon BG -->
                        <svg width="116" height="82" viewBox="0 0 116 82" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11.9238 65.8391C11.9238 65.8391 20.4749 72.4177 35.0465 70.036C49.6182 67.6542 75.9897 78.4406 75.9897 78.4406C75.9897 78.4406 90.002 85.8843 104.047 79.2427C118.093 72.6012 115.872 58.8253 115.872 58.8253C115.743 56.8104 115.606 46.9466 97.5579 22.0066C91.0438 13.0024 84.1597 6.97958 75.9458 3.74641C58.8245 -2.99096 37.7881 -0.447684 22.9067 9.81852C15.5647 14.8832 7.65514 22.0695 3.0465 31.5007C-7.27017 52.6135 11.9238 65.8391 11.9238 65.8391Z" fill="currentColor"/>
                        </svg>

                    </div>

                    <!-- Footer -->
                    <div class="card-footer px-0 pb-0 pt-6">
                        <h5 class="mb-0 line-clamp-1">Suivi Élève</h5>
                        <p class="mb-0 line-clamp-1">Travail et comportement de votre enfant</p>
                    </div>
                </a>
            </div>

            <div class="col-6 col-lg-4 col-xl-3 pt-2 pb-4 px-md-4" data-aos="fade-up" data-aos-delay="150">
                <!-- Card -->
                <a href="course-list-v3.html" class="card icon-category card-border-hover border shadow-dark-hover p-md-5 p-3 text-center lift">
                    <!-- Image -->
                    <div class="position-relative" style="color: #ebf8f9;">
                        <div class="position-absolute bottom-0 right-0 left-0" style="color: #00D1EB;">
                            <i class="fas fa-laptop-code"></i>
                        </div>
                        <!-- Icon BG -->
                        <svg width="116" height="82" viewBox="0 0 116 82" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11.9238 65.8391C11.9238 65.8391 20.4749 72.4177 35.0465 70.036C49.6182 67.6542 75.9897 78.4406 75.9897 78.4406C75.9897 78.4406 90.002 85.8843 104.047 79.2427C118.093 72.6012 115.872 58.8253 115.872 58.8253C115.743 56.8104 115.606 46.9466 97.5579 22.0066C91.0438 13.0024 84.1597 6.97958 75.9458 3.74641C58.8245 -2.99096 37.7881 -0.447684 22.9067 9.81852C15.5647 14.8832 7.65514 22.0695 3.0465 31.5007C-7.27017 52.6135 11.9238 65.8391 11.9238 65.8391Z" fill="currentColor"/>
                        </svg>

                    </div>

                    <!-- Footer -->
                    <div class="card-footer px-0 pb-0 pt-6">
                        <h5 class="mb-0 line-clamp-1">Évaluations</h5>
                        <p class="mb-0 line-clamp-1">Programme des évaluations</p>
                    </div>
                </a>
            </div>

            <div class="col-6 col-lg-4 col-xl-3 pt-2 pb-4 px-md-4" data-aos="fade-up" data-aos-delay="200">
                <!-- Card -->
                <a href="course-list-v3.html" class="card icon-category card-border-hover border shadow-dark-hover p-md-5 p-3 text-center lift">
                    <!-- Image -->
                    <div class="position-relative" style="color: #f6e7e9;">
                        <div class="position-absolute bottom-0 right-0 left-0" style="color: #F15571;">
                            <i class="far fa-file-alt"></i>
                        </div>
                        <!-- Icon BG -->
                        <svg width="116" height="82" viewBox="0 0 116 82" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11.9238 65.8391C11.9238 65.8391 20.4749 72.4177 35.0465 70.036C49.6182 67.6542 75.9897 78.4406 75.9897 78.4406C75.9897 78.4406 90.002 85.8843 104.047 79.2427C118.093 72.6012 115.872 58.8253 115.872 58.8253C115.743 56.8104 115.606 46.9466 97.5579 22.0066C91.0438 13.0024 84.1597 6.97958 75.9458 3.74641C58.8245 -2.99096 37.7881 -0.447684 22.9067 9.81852C15.5647 14.8832 7.65514 22.0695 3.0465 31.5007C-7.27017 52.6135 11.9238 65.8391 11.9238 65.8391Z" fill="currentColor"/>
                        </svg>

                    </div>

                    <!-- Footer -->
                    <div class="card-footer px-0 pb-0 pt-6">
                        <h5 class="mb-0 line-clamp-1">Infos de l'établissement</h5>
                        <p class="mb-0 line-clamp-1">Informations aux parents d'élèves</p>
                    </div>
                </a>
            </div>

        </div>
    </div>
</section>

<!-- FEATURED PRODUCT
================================================== -->
<section class="pt-5 pb-9 py-md-11">
    <div class="container">
        <div class="text-center mb-5 mb-md-8">
            <h1 class="mb-1">Notre Établissement</h1>
            <p class="font-size-lg text-capitalize">Découvrez le C.S.P La Boussole de Port-Gentil</p>
        </div>

        <div class="row row-cols-md-2 row-cols-xl-3 mb-2">
            
            <div class="col-md pb-4 pb-md-7" title="3 ans, 4 ans, 5 ans : Informations relatives à la gestion des classes du Pré-primaire">
                <!-- Card -->
                <div class="card border shadow p-2 lift sk-fade">
                    <!-- Image -->
                    <div class="card-zoom position-relative">
                        <a href="course-single-v3.html" class="card-img sk-thumbnail d-block">
                            <img class="rounded shadow-light-lg" src="/boussole_assets/img/products/product-2.jpg" alt="...">
                        </a>

                        <span class="badge sk-fade-bottom badge-lg badge-purple badge-pill badge-float bottom-0 left-0 mb-4 ms-4">
                            <span class="text-white text-uppercase fw-bold font-size-xs">Pré-primaire</span>
                        </span>
                    </div>

                    <!-- Footer -->
                    <div class="card-footer px-2 pb-2 mb-1 pt-4 position-relative">
                        <a href="instructors-single.html" class="">
                            <div class="avatar avatar-xl sk-fade-right badge-float position-absolute top-0 right-0 mt-n6 me-5 rounded-circle shadow border border-white border-w-lg">
                                <img src="/boussole_assets/img/avatars/avatar-2.jpg" alt="..." class="avatar-img rounded-circle">
                            </div>
                        </a>

                        <!-- Preheading -->
                        <a href="course-single-v3.html"><span class="mb-1 d-inline-block text-gray-800">Pré-primaire</span></a>

                        <!-- Heading -->
                        <div class="position-relative">
                            <a href="course-single-v3.html" class="d-block stretched-link"><h4 class="line-clamp-2 h-md-48 h-lg-58 me-md-6 me-lg-10 me-xl-4 mb-2">3 ans, 4 ans, 5 ans : Informations relatives à la gestion des classes du Pré-primaire</h4></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md pb-4 pb-md-7" title="1ère Année, 2ème Année, 3ème Année, 4ème Année et 5ème Année : Informations relatives à la gestion des classes du Primaire">
                <!-- Card -->
                <div class="card border shadow p-2 lift sk-fade">
                    <!-- Image -->
                    <div class="card-zoom position-relative">
                        <a href="course-single-v3.html" class="card-img sk-thumbnail d-block">
                            <img class="rounded shadow-light-lg" src="/boussole_assets/img/products/product-3.jpg" alt="...">
                        </a>

                        <span class="badge sk-fade-bottom badge-lg badge-purple badge-pill badge-float bottom-0 left-0 mb-4 ms-4">
                            <span class="text-white text-uppercase fw-bold font-size-xs">Primaire</span>
                        </span>
                    </div>

                    <!-- Footer -->
                    <div class="card-footer px-2 pb-2 mb-1 pt-4 position-relative">
                        <a href="instructors-single.html" class="">
                            <div class="avatar avatar-xl sk-fade-right badge-float position-absolute top-0 right-0 mt-n6 me-5 rounded-circle shadow border border-white border-w-lg">
                                <img src="/boussole_assets/img/avatars/avatar-3.jpg" alt="..." class="avatar-img rounded-circle">
                            </div>
                        </a>

                        <!-- Preheading -->
                        <a href="course-single-v3.html"><span class="mb-1 d-inline-block text-gray-800">Primaire</span></a>

                        <!-- Heading -->
                        <div class="position-relative">
                            <a href="course-single-v3.html" class="d-block stretched-link"><h4 class="line-clamp-2 h-md-48 h-lg-58 me-md-6 me-lg-10 me-xl-4 mb-2">1<sup>ère</sup> Année, 2<sup>ème</sup> Année, 3<sup>ème</sup> Année, 4<sup>ème</sup> Année et 5<sup>ème</sup> Année : Informations relatives à la gestion des classes du Primaire</h4></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md pb-4 pb-md-7" title="6ème, 5ème , 4ème et 3ème : Informations relatives à la gestion des classes du Collège">
                <!-- Card -->
                <div class="card border shadow p-2 lift sk-fade">
                    <!-- Image -->
                    <div class="card-zoom position-relative">
                        <a href="course-single-v3.html" class="card-img sk-thumbnail d-block">
                            <img class="rounded shadow-light-lg" src="/boussole_assets/img/products/product-3.jpg" alt="...">
                        </a>

                        <span class="badge sk-fade-bottom badge-lg badge-purple badge-pill badge-float bottom-0 left-0 mb-4 ms-4">
                            <span class="text-white text-uppercase fw-bold font-size-xs">Collège</span>
                        </span>
                    </div>

                    <!-- Footer -->
                    <div class="card-footer px-2 pb-2 mb-1 pt-4 position-relative">
                        <a href="instructors-single.html" class="">
                            <div class="avatar avatar-xl sk-fade-right badge-float position-absolute top-0 right-0 mt-n6 me-5 rounded-circle shadow border border-white border-w-lg">
                                <img src="/boussole_assets/img/avatars/avatar-3.jpg" alt="..." class="avatar-img rounded-circle">
                            </div>
                        </a>

                        <!-- Preheading -->
                        <a href="course-single-v3.html"><span class="mb-1 d-inline-block text-gray-800">Collège</span></a>

                        <!-- Heading -->
                        <div class="position-relative">
                            <a href="course-single-v3.html" class="d-block stretched-link"><h4 class="line-clamp-2 h-md-48 h-lg-58 me-md-6 me-lg-10 me-xl-4 mb-2">6<sup>ème</sup>, 5<sup>ème</sup>, 4<sup>ème</sup>, 4<sup>ème</sup> et 3<sup>ème</sup> : Informations relatives à la gestion des classes du Collège</h4></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md pb-4 pb-md-7" title="2nde S, 2nde LE, 1ère S et 1ère LE : Informations relatives à la gestion des classes du Lycée">
                <!-- Card -->
                <div class="card border shadow p-2 lift sk-fade">
                    <!-- Image -->
                    <div class="card-zoom position-relative">
                        <div class="badge-float sk-fade-top top-0 right-0 mt-4 me-4">
                            <a href="course-single-v3.html" class="btn btn-xs btn-dark text-white rounded-circle lift opacity-dot-7 me-1 p-2 d-inline-flex justify-content-center align-items-center w-36 h-36">
                                <!-- Icon -->
                                <svg width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M17.8856 8.64995C17.7248 8.42998 13.8934 3.26379 8.99991 3.26379C4.10647 3.26379 0.274852 8.42998 0.114223 8.64974C-0.0380743 8.85843 -0.0380743 9.14147 0.114223 9.35016C0.274852 9.57013 4.10647 14.7363 8.99991 14.7363C13.8934 14.7363 17.7248 9.5701 17.8856 9.35034C18.0381 9.14169 18.0381 8.85843 17.8856 8.64995ZM8.99991 13.5495C5.39537 13.5495 2.27345 10.1206 1.3493 8.99965C2.27226 7.87771 5.38764 4.4506 8.99991 4.4506C12.6043 4.4506 15.726 7.8789 16.6505 9.00046C15.7276 10.1224 12.6122 13.5495 8.99991 13.5495Z" fill="currentColor"/>
                                    <path d="M8.9999 5.43958C7.03671 5.43958 5.43945 7.03683 5.43945 9.00003C5.43945 10.9632 7.03671 12.5605 8.9999 12.5605C10.9631 12.5605 12.5603 10.9632 12.5603 9.00003C12.5603 7.03683 10.9631 5.43958 8.9999 5.43958ZM8.9999 11.3736C7.69103 11.3736 6.62629 10.3089 6.62629 9.00003C6.62629 7.6912 7.69107 6.62642 8.9999 6.62642C10.3087 6.62642 11.3735 7.6912 11.3735 9.00003C11.3735 10.3089 10.3088 11.3736 8.9999 11.3736Z" fill="currentColor"/>
                                </svg>

                            </a>
                            <a href="course-single-v3.html" class="btn btn-xs btn-dark text-white rounded-circle lift opacity-dot-7 p-2 d-inline-flex justify-content-center align-items-center w-36 h-36">
                                <!-- Icon -->
                                <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.2437 1.20728C10.0203 1.20728 8.87397 1.66486 7.99998 2.48357C7.12598 1.66486 5.97968 1.20728 4.7563 1.20728C2.13368 1.20728 0 3.341 0 5.96366C0 7.2555 0.425164 8.52729 1.26366 9.74361C1.91197 10.6841 2.80887 11.5931 3.92937 12.4454C5.809 13.8753 7.66475 14.6543 7.74285 14.6867L7.99806 14.7928L8.25384 14.6881C8.33199 14.6562 10.1889 13.8882 12.0696 12.4635C13.1907 11.6142 14.0881 10.7054 14.7367 9.7625C15.575 8.54385 16 7.26577 16 5.96371C16 3.341 13.8663 1.20728 11.2437 1.20728ZM8.00141 13.3353C6.74962 12.7555 1.33966 10.0142 1.33966 5.96366C1.33966 4.07969 2.87237 2.54698 4.75634 2.54698C5.827 2.54698 6.81558 3.03502 7.46862 3.88598L8.00002 4.57845L8.53142 3.88598C9.18446 3.03502 10.173 2.54698 11.2437 2.54698C13.1276 2.54698 14.6604 4.07969 14.6604 5.96366C14.6603 10.0433 9.25265 12.7613 8.00141 13.3353Z" fill="currentColor"/>
                                </svg>

                            </a>
                        </div>

                        <a href="course-single-v3.html" class="card-img sk-thumbnail d-block">
                            <img class="rounded shadow-light-lg" src="/boussole_assets/img/products/product-1.jpg" alt="...">
                        </a>

                        <span class="badge sk-fade-bottom badge-lg badge-orange badge-pill badge-float bottom-0 left-0 mb-4 ms-4">
                            <span class="text-white text-uppercase fw-bold font-size-xs">Lycée (Du nouveau !)</span>
                        </span>
                    </div>

                    <!-- Footer -->
                    <div class="card-footer px-2 pb-2 mb-1 pt-4 position-relative">
                        <a href="instructors-single.html" class="d-block">
                            <div class="avatar sk-fade-right avatar-xl badge-float position-absolute top-0 right-0 mt-n6 me-5 rounded-circle shadow border border-white border-w-lg">
                                <img src="/boussole_assets/img/avatars/avatar-1.jpg" alt="..." class="avatar-img rounded-circle">
                            </div>
                        </a>

                        <!-- Preheading -->
                        <a href="course-single-v3.html"><span class="mb-1 d-inline-block text-gray-800">Lycée</span></a>

                        <!-- Heading -->
                        <div class="position-relative">
                            <a href="course-single-v3.html" class="d-block stretched-link"><h4 class="line-clamp-2 h-md-48 h-lg-58 me-md-6 me-lg-10 me-xl-4 mb-2">2<sup>nde</sup> S, 2<sup>nde</sup> LE, 1<sup>ère</sup> S et 1<sup>ère</sup> LE : Informations relatives à la gestion des classes du Lycée</h4></a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="text-center">
            <a href="course-list-v4.html" class="d-inline-flex align-items-center fw-medium">
                Tout Visualiser
                <div class="ms-2 d-flex">
                    <!-- Icon -->
                    <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.7779 4.6098L3.32777 0.159755C3.22485 0.0567475 3.08745 0 2.94095 0C2.79445 0 2.65705 0.0567475 2.55412 0.159755L2.2264 0.487394C2.01315 0.700889 2.01315 1.04788 2.2264 1.26105L5.96328 4.99793L2.22225 8.73895C2.11933 8.84196 2.0625 8.97928 2.0625 9.1257C2.0625 9.27228 2.11933 9.4096 2.22225 9.51269L2.54998 9.84025C2.65298 9.94325 2.7903 10 2.9368 10C3.0833 10 3.2207 9.94325 3.32363 9.84025L7.7779 5.38614C7.88107 5.2828 7.93774 5.14484 7.93741 4.99817C7.93774 4.85094 7.88107 4.71305 7.7779 4.6098Z" fill="currentColor"/>
                    </svg>

                </div>
            </a>
        </div>
    </div>
</section>

<!-- COUNTUP
================================================== -->
<div class="pt-4 pt-md-4 pb-9 bg-white">
    <div class="container mt-5">
        <div class="text-center" data-aos="fade-up">
            <h1 class="mb-1">Quelques chiffres clés</h1>
            <p class="font-size-lg mb-0 text-capitalize ">Chiffres clés du C.S.P La Boussole aux différents Examens Nationaux</p>
        </div>
        <div class="row w-xl-80 mx-xl-auto text-center mt-4">
            <div class="col-md-3 mb-6 mb-md-0" data-aos="fade-up" data-aos-delay="50">
                <div class="h1"><span data-toggle="countup" data-from="0" data-to="83" data-aos data-aos-id="countup:in"></span>/95</div>
                <p class="font-size-lg fw-medium mb-0">CEP 2023 (Admis)</p>
            </div>

            <div class="col-md-3 mb-6 mb-md-0" data-aos="fade-up" data-aos-delay="100">
                <div class="h1"><span data-toggle="countup" data-from="0" data-to="12" data-aos data-aos-id="countup:in"></span>/95</div>
                <p class="font-size-lg fw-medium mb-0">CEP 2023 (Echoués)</p>
            </div>

            <div class="col-md-3 mb-6 mb-md-0" data-aos="fade-up" data-aos-delay="150">
                <div class="h1"><span data-toggle="countup" data-from="0" data-to="07" data-aos data-aos-id="countup:in"></span>/08</div>
                <p class="font-size-lg fw-medium mb-0">BEPC 2022 (Admis)</p>
            </div>

            <div class="col-md-3 mb-6 mb-md-0" data-aos="fade-up" data-aos-delay="200">
                <div class="h1"><span data-toggle="countup" data-from="0" data-to="01" data-aos data-aos-id="countup:in"></span>/08</div>
                <p class="font-size-lg fw-medium mb-0">BEPC 2022 (Echoués)</p>
            </div>
        </div>
    </div>
</div>

<!-- INSTRUCTORS
================================================== -->
<section class="pt-8 pb-10 pt-md-11 pb-md-12" data-jarallax data-speed=".8" style="background-image: url(/boussole_assets/img/covers/cover-3.jpg);" data-aos="fade-up">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 mx-auto text-center" data-aos="fade-up">
                <h1 class="text-white">C.S.P La Boussole</h1>
                <h5 class="text-white mb-8 text-capitalize">Actif depuis les années <b>2000</b></h5>
                <p class="text-white mb-8" style="text-align:left;">Le C.S.P La Boussole est une école d'enseignement privée, ouverte à tous et qui participe à l'éducation de vos enfants depuis l'an 2000. 
                Depuis sa création, l'établissement ne cesse de s'aménager et d'apporter de la rigueur dans son travail afin de permettre à vos enfants d'étudier dans un cadre de vie sain et favorable à leur réussite.
                <br>
                Aujourd'hui il compte 16 salles de classe dont : 
                <ul class="text-white" style="text-align:left;">
                    <li><b>03</b> salles de classe au Pré-primaire</li>
                    <li><b>09</b> salles de classe au Primaire</li>
                    <li><b>03</b> salles de classe au Collège</li>
                    <li><b>01</b> salle de classe au Lycée</li>
                </ul>
                
                </p>
                <h4 style="text-align:left;" >L'équipe pédagogique : </h4>
                <p class="text-white">
                L’équipe pédagogique se compose de <b>22</b> enseignants spécialisés : 
                <ul class="text-white" style="text-align:left;">
                    <li><b>04</b> enseignantes au Pré-primaire</li>
                    <li><b>10</b> enseignants au Primaire</li>
                    <li><b>08</b> professeurs au Collège et au Lycée</li>
                </ul>
                <div class="text-white" style="text-align:left;" >
                    Des employés de service dont un gardien et une surveillante accueillent vos enfants le matin et les encadrent pour les différents temps de pause jusqu'à la sortie des cours.
                </div>
                </p>
                <h4 style="text-align:left;" >L'équipe administrative : </h4>
                <p class="text-white">
                L’équipe administrative se compose de <b>08 membres</b> : 
                <ul class="text-white" style="text-align:left;">
                    <li><b>02</b> Co-fondateurs (Mr ZOUNON Antoine et Mr ZOUNON Benoît)</li>
                    <li><b>01</b> Représentant auprès du Ministère de l'Education Nationale (Mr John Doe)</li>
                    <li><b>01</b> Directeur de l'enseignement secondaire (Mr EDEMESSI Stanislas)</li>
                    <li><b>01</b> Directeur de l'enseignement primaire (Mr KOUKOUDOU Théophile)</li>
                    <li><b>01</b> Censeur (Mr DEGBOE Richard)</li>
                    <li><b>02</b> Sécrétaires Informaticiens (Mr EBAKIZA ZOUNON Stanislas et Mr ZOUNON John)</li>
                </ul>
                </p>
            </div>

            <div class="col-12">
                <div class="mx-n4" data-flickity='{"pageDots": true, "prevNextButtons": false, "cellAlign": "left", "wrapAround": true, "imagesLoaded": true}'>
                    <div class="col-12 col-md-6 col-lg-4 col-xl-3 pb-4 pb-md-5" style="padding-right:15px;padding-left:15px;">
                        <!-- Card -->
                        <div class="card border shadow p-2 sk-fade">
                            <!-- Image -->
                            <div class="card-zoom position-relative">
                                <a href="course-single-v3.html" class="card-img sk-thumbnail img-ratio-3 d-block">
                                    <img class="rounded shadow-light-lg" src="/boussole_assets/img/products/product-15.jpg" alt="...">
                                </a>
                            </div>

                            <!-- Footer -->
                            <div class="card-footer px-2 pb-2 mb-1 pt-4 position-relative">
                                <!-- Preheading -->
                                <a href="course-single-v3.html"><span class="mb-1 d-inline-block text-gray-800">Co-fondateur</span></a>

                                <!-- Heading -->
                                <div class="position-relative">
                                    <a href="course-single-v3.html" class="d-block stretched-link"><h5 class="line-clamp-2 h-md-48 h-lg-58 me-md-8 me-lg-10 me-xl-4 mb-2">Mr ZOUNON Antoine</h5></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 col-xl-3 pb-4 pb-md-5" style="padding-right:15px;padding-left:15px;">
                        <!-- Card -->
                        <div class="card border shadow p-2 sk-fade">
                            <!-- Image -->
                            <div class="card-zoom position-relative">
                                <a href="course-single-v3.html" class="card-img sk-thumbnail img-ratio-3 d-block">
                                    <img class="rounded shadow-light-lg" src="/boussole_assets/img/products/product-14.jpg" alt="...">
                                </a>
                            </div>

                            <!-- Footer -->
                            <div class="card-footer px-2 pb-2 mb-1 pt-4 position-relative">
                                <!-- Preheading -->
                                <a href="course-single-v3.html"><span class="mb-1 d-inline-block text-gray-800">Co-fondateur</span></a>

                                <!-- Heading -->
                                <div class="position-relative">
                                    <a href="course-single-v3.html" class="d-block stretched-link"><h5 class="line-clamp-2 h-md-48 h-lg-58 me-md-8 me-lg-10 me-xl-4 mb-2">Mr ZOUNON Benoît</h5></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>
</section>

<!-- BLOG
================================================== -->
<section class="bg-white py-5 py-md-11">
    <div class="container">
        <div class="text-center mb-4 mb-md-7">
            <h1 class="mb-1">Contactez-nous</h1>
            <p class="font-size-lg mb-0 text-capitalize">Entrez en contact avec le C.S.P La Boussole</p>
        </div>

        <div class="row row-cols-md-2 row-cols-lg-3">
            <div class="col-md mb-5 mb-lg-0">
                <!-- Card -->
                <div class="card border shadow p-2 lift sk-fade">
                    <!-- Image -->
                    <div class="card-zoom position-relative">
                        <a href="blog-single.html" class="card-img d-block sk-thumbnail img-ratio-3"><img class="rounded shadow-light-lg img-fluid" src="/boussole_assets/img/post/post-1.jpg" alt="..."></a>

                        <a href="blog-single.html" class="badge sk-fade-bottom badge-lg badge-helio badge-pill badge-float bottom-0 left-0 mb-4 ms-4 px-5 me-4">
                            <span class="text-white fw-normal font-size-sm">Figma</span>
                        </a>
                    </div>

                    <!-- Footer -->
                    <div class="card-footer px-2 pb-0 pt-4">
                        <ul class="nav mx-n3 mb-3">
                            <li class="nav-item px-3">
                                <a href="blog-single.html" class="d-flex align-items-center text-gray-800">
                                    <div class="me-3 d-flex">
                                        <!-- Icon -->
                                        <svg width="15" height="15" viewBox="0 0 15 15" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M13.8102 9.52183C13.313 9.08501 12.7102 8.70758 12.0181 8.40008C11.7223 8.2687 11.3761 8.40191 11.2447 8.69762C11.1134 8.99334 11.2466 9.33952 11.5423 9.47102C12.1258 9.73034 12.6287 10.0436 13.0367 10.4021C13.5396 10.8441 13.8281 11.484 13.8281 12.1582V13.2422C13.8281 13.5653 13.5653 13.8281 13.2422 13.8281H1.75781C1.43475 13.8281 1.17188 13.5653 1.17188 13.2422V12.1582C1.17188 11.484 1.46038 10.8441 1.96335 10.4021C2.55535 9.88186 4.2802 8.67188 7.5 8.67188C9.89079 8.67188 11.8359 6.72672 11.8359 4.33594C11.8359 1.94515 9.89079 0 7.5 0C5.10921 0 3.16406 1.94515 3.16406 4.33594C3.16406 5.7336 3.82896 6.97872 4.85893 7.77214C2.97432 8.18642 1.80199 8.98384 1.18984 9.52183C0.433731 10.1862 0 11.147 0 12.1582V13.2422C0 14.2115 0.788498 15 1.75781 15H13.2422C14.2115 15 15 14.2115 15 13.2422V12.1582C15 11.147 14.5663 10.1862 13.8102 9.52183ZM4.33594 4.33594C4.33594 2.59129 5.75535 1.17188 7.5 1.17188C9.24465 1.17188 10.6641 2.59129 10.6641 4.33594C10.6641 6.08059 9.24465 7.5 7.5 7.5C5.75535 7.5 4.33594 6.08059 4.33594 4.33594Z" fill="currentColor"/>
                                        </svg>

                                    </div>
                                    <div class="font-size-sm">Jack Wilson</div>
                                </a>
                            </li>
                            <li class="nav-item px-3">
                                <a href="blog-single.html" class="d-flex align-items-center text-gray-800">
                                    <div class="me-2 d-flex">
                                        <!-- Icon -->
                                        <svg width="15" height="15" viewBox="0 0 15 15" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M13.0664 1.17188H11.7188V0.46875C11.7188 0.209883 11.5089 0 11.25 0C10.9911 0 10.7812 0.209883 10.7812 0.46875V1.17188H4.21875V0.46875C4.21875 0.209883 4.0089 0 3.75 0C3.4911 0 3.28125 0.209883 3.28125 0.46875V1.17188H1.93359C0.867393 1.17188 0 2.03927 0 3.10547V13.0664C0 14.1326 0.867393 15 1.93359 15H13.0664C14.1326 15 15 14.1326 15 13.0664V3.10547C15 2.03927 14.1326 1.17188 13.0664 1.17188ZM1.93359 2.10938H3.28125V2.57812C3.28125 2.83699 3.4911 3.04688 3.75 3.04688C4.0089 3.04688 4.21875 2.83699 4.21875 2.57812V2.10938H10.7812V2.57812C10.7812 2.83699 10.9911 3.04688 11.25 3.04688C11.5089 3.04688 11.7188 2.83699 11.7188 2.57812V2.10938H13.0664C13.6157 2.10938 14.0625 2.55621 14.0625 3.10547V4.21875H0.9375V3.10547C0.9375 2.55621 1.38434 2.10938 1.93359 2.10938ZM13.0664 14.0625H1.93359C1.38434 14.0625 0.9375 13.6157 0.9375 13.0664V5.15625H14.0625V13.0664C14.0625 13.6157 13.6157 14.0625 13.0664 14.0625Z" fill="currentColor"/>
                                        </svg>

                                    </div>
                                    <div class="font-size-sm">06 April, 2020</div>
                                </a>
                            </li>
                        </ul>

                        <!-- Heading -->
                        <a href="blog-single.html" class="d-block"><h5 class="line-clamp-2 h-48 h-lg-52">The Best Destinations to Begin Your Round the World Trip</h5></a>
                    </div>
                </div>
            </div>

            <div class="col-md mb-5 mb-lg-0">
                <!-- Card -->
                <div class="card border shadow p-2 lift sk-fade">
                    <!-- Image -->
                    <div class="card-zoom position-relative">
                        <a href="blog-single.html" class="card-img d-block sk-thumbnail img-ratio-3"><img class="rounded shadow-light-lg img-fluid" src="/boussole_assets/img/post/post-2.jpg" alt="..."></a>

                        <a href="blog-single.html" class="badge sk-fade-bottom badge-lg badge-helio badge-pill badge-float bottom-0 left-0 mb-4 ms-4 px-5 me-4">
                            <span class="text-white fw-normal font-size-sm">Adobe XD</span>
                        </a>
                    </div>

                    <!-- Footer -->
                    <div class="card-footer px-2 pb-0 pt-4">
                        <ul class="nav mx-n3 mb-3">
                            <li class="nav-item px-3">
                                <a href="blog-single.html" class="d-flex align-items-center text-gray-800">
                                    <div class="me-3 d-flex">
                                        <!-- Icon -->
                                        <svg width="15" height="15" viewBox="0 0 15 15" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M13.8102 9.52183C13.313 9.08501 12.7102 8.70758 12.0181 8.40008C11.7223 8.2687 11.3761 8.40191 11.2447 8.69762C11.1134 8.99334 11.2466 9.33952 11.5423 9.47102C12.1258 9.73034 12.6287 10.0436 13.0367 10.4021C13.5396 10.8441 13.8281 11.484 13.8281 12.1582V13.2422C13.8281 13.5653 13.5653 13.8281 13.2422 13.8281H1.75781C1.43475 13.8281 1.17188 13.5653 1.17188 13.2422V12.1582C1.17188 11.484 1.46038 10.8441 1.96335 10.4021C2.55535 9.88186 4.2802 8.67188 7.5 8.67188C9.89079 8.67188 11.8359 6.72672 11.8359 4.33594C11.8359 1.94515 9.89079 0 7.5 0C5.10921 0 3.16406 1.94515 3.16406 4.33594C3.16406 5.7336 3.82896 6.97872 4.85893 7.77214C2.97432 8.18642 1.80199 8.98384 1.18984 9.52183C0.433731 10.1862 0 11.147 0 12.1582V13.2422C0 14.2115 0.788498 15 1.75781 15H13.2422C14.2115 15 15 14.2115 15 13.2422V12.1582C15 11.147 14.5663 10.1862 13.8102 9.52183ZM4.33594 4.33594C4.33594 2.59129 5.75535 1.17188 7.5 1.17188C9.24465 1.17188 10.6641 2.59129 10.6641 4.33594C10.6641 6.08059 9.24465 7.5 7.5 7.5C5.75535 7.5 4.33594 6.08059 4.33594 4.33594Z" fill="currentColor"/>
                                        </svg>

                                    </div>
                                    <div class="font-size-sm">Jack Wilson</div>
                                </a>
                            </li>
                            <li class="nav-item px-3">
                                <a href="blog-single.html" class="d-flex align-items-center text-gray-800">
                                    <div class="me-2 d-flex">
                                        <!-- Icon -->
                                        <svg width="15" height="15" viewBox="0 0 15 15" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M13.0664 1.17188H11.7188V0.46875C11.7188 0.209883 11.5089 0 11.25 0C10.9911 0 10.7812 0.209883 10.7812 0.46875V1.17188H4.21875V0.46875C4.21875 0.209883 4.0089 0 3.75 0C3.4911 0 3.28125 0.209883 3.28125 0.46875V1.17188H1.93359C0.867393 1.17188 0 2.03927 0 3.10547V13.0664C0 14.1326 0.867393 15 1.93359 15H13.0664C14.1326 15 15 14.1326 15 13.0664V3.10547C15 2.03927 14.1326 1.17188 13.0664 1.17188ZM1.93359 2.10938H3.28125V2.57812C3.28125 2.83699 3.4911 3.04688 3.75 3.04688C4.0089 3.04688 4.21875 2.83699 4.21875 2.57812V2.10938H10.7812V2.57812C10.7812 2.83699 10.9911 3.04688 11.25 3.04688C11.5089 3.04688 11.7188 2.83699 11.7188 2.57812V2.10938H13.0664C13.6157 2.10938 14.0625 2.55621 14.0625 3.10547V4.21875H0.9375V3.10547C0.9375 2.55621 1.38434 2.10938 1.93359 2.10938ZM13.0664 14.0625H1.93359C1.38434 14.0625 0.9375 13.6157 0.9375 13.0664V5.15625H14.0625V13.0664C14.0625 13.6157 13.6157 14.0625 13.0664 14.0625Z" fill="currentColor"/>
                                        </svg>

                                    </div>
                                    <div class="font-size-sm">06 April, 2020</div>
                                </a>
                            </li>
                        </ul>

                        <!-- Heading -->
                        <a href="blog-single.html" class="d-block"><h5 class="line-clamp-2 h-48 h-lg-52">An Indigenous Anatolian Syllabic Script From 3500 Years Ago</h5></a>
                    </div>
                </div>
            </div>

            <div class="col-md mb-5 mb-lg-0">
                <!-- Card -->
                <div class="card border shadow p-2 lift sk-fade">
                    <!-- Image -->
                    <div class="card-zoom position-relative">
                        <a href="blog-single.html" class="card-img d-block sk-thumbnail img-ratio-3"><img class="rounded shadow-light-lg img-fluid" src="/boussole_assets/img/post/post-3.jpg" alt="..."></a>

                        <a href="blog-single.html" class="badge badge-lg sk-fade-bottom badge-helio badge-pill badge-float bottom-0 left-0 mb-4 ms-4 px-5 me-4">
                            <span class="text-white fw-normal font-size-sm">Photoshop</span>
                        </a>
                    </div>

                    <!-- Footer -->
                    <div class="card-footer px-2 pb-0 pt-4">
                        <ul class="nav mx-n3 mb-3">
                            <li class="nav-item px-3">
                                <a href="blog-single.html" class="d-flex align-items-center text-gray-800">
                                    <div class="me-3 d-flex">
                                        <!-- Icon -->
                                        <svg width="15" height="15" viewBox="0 0 15 15" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M13.8102 9.52183C13.313 9.08501 12.7102 8.70758 12.0181 8.40008C11.7223 8.2687 11.3761 8.40191 11.2447 8.69762C11.1134 8.99334 11.2466 9.33952 11.5423 9.47102C12.1258 9.73034 12.6287 10.0436 13.0367 10.4021C13.5396 10.8441 13.8281 11.484 13.8281 12.1582V13.2422C13.8281 13.5653 13.5653 13.8281 13.2422 13.8281H1.75781C1.43475 13.8281 1.17188 13.5653 1.17188 13.2422V12.1582C1.17188 11.484 1.46038 10.8441 1.96335 10.4021C2.55535 9.88186 4.2802 8.67188 7.5 8.67188C9.89079 8.67188 11.8359 6.72672 11.8359 4.33594C11.8359 1.94515 9.89079 0 7.5 0C5.10921 0 3.16406 1.94515 3.16406 4.33594C3.16406 5.7336 3.82896 6.97872 4.85893 7.77214C2.97432 8.18642 1.80199 8.98384 1.18984 9.52183C0.433731 10.1862 0 11.147 0 12.1582V13.2422C0 14.2115 0.788498 15 1.75781 15H13.2422C14.2115 15 15 14.2115 15 13.2422V12.1582C15 11.147 14.5663 10.1862 13.8102 9.52183ZM4.33594 4.33594C4.33594 2.59129 5.75535 1.17188 7.5 1.17188C9.24465 1.17188 10.6641 2.59129 10.6641 4.33594C10.6641 6.08059 9.24465 7.5 7.5 7.5C5.75535 7.5 4.33594 6.08059 4.33594 4.33594Z" fill="currentColor"/>
                                        </svg>

                                    </div>
                                    <div class="font-size-sm">Jack Wilson</div>
                                </a>
                            </li>
                            <li class="nav-item px-3">
                                <a href="blog-single.html" class="d-flex align-items-center text-gray-800">
                                    <div class="me-2 d-flex">
                                        <!-- Icon -->
                                        <svg width="15" height="15" viewBox="0 0 15 15" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M13.0664 1.17188H11.7188V0.46875C11.7188 0.209883 11.5089 0 11.25 0C10.9911 0 10.7812 0.209883 10.7812 0.46875V1.17188H4.21875V0.46875C4.21875 0.209883 4.0089 0 3.75 0C3.4911 0 3.28125 0.209883 3.28125 0.46875V1.17188H1.93359C0.867393 1.17188 0 2.03927 0 3.10547V13.0664C0 14.1326 0.867393 15 1.93359 15H13.0664C14.1326 15 15 14.1326 15 13.0664V3.10547C15 2.03927 14.1326 1.17188 13.0664 1.17188ZM1.93359 2.10938H3.28125V2.57812C3.28125 2.83699 3.4911 3.04688 3.75 3.04688C4.0089 3.04688 4.21875 2.83699 4.21875 2.57812V2.10938H10.7812V2.57812C10.7812 2.83699 10.9911 3.04688 11.25 3.04688C11.5089 3.04688 11.7188 2.83699 11.7188 2.57812V2.10938H13.0664C13.6157 2.10938 14.0625 2.55621 14.0625 3.10547V4.21875H0.9375V3.10547C0.9375 2.55621 1.38434 2.10938 1.93359 2.10938ZM13.0664 14.0625H1.93359C1.38434 14.0625 0.9375 13.6157 0.9375 13.0664V5.15625H14.0625V13.0664C14.0625 13.6157 13.6157 14.0625 13.0664 14.0625Z" fill="currentColor"/>
                                        </svg>

                                    </div>
                                    <div class="font-size-sm">06 April, 2020</div>
                                </a>
                            </li>
                        </ul>

                        <!-- Heading -->
                        <a href="blog-single.html" class="d-block"><h5 class="line-clamp-2 h-48 h-lg-52">10 Best Countries to Visit for Beginner Travelers</h5></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- CALL ACTION
================================================== -->
<section class="py-6 py-md-11" data-jarallax data-speed=".8" style="background-image: url(/boussole_assets/img/illustrations/illustration-4.jpg)">
    <div class="container text-center py-xl-4" data-aos="fade-up">
        <div class="row">
            <div class="col-xl-7 mx-auto">
                <h1 class="text-capitalize">Subscribe our newsletter</h1>
                <p class="text-capitalize font-size-lg mb-md-6 mb-4">Your download should start automatically, if not Click here. Should I give up, huh?.</p>
                <div class="mx-md-8">
                    <form>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Enter your email" aria-label="Enter your email" aria-describedby="button-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-helio btn-sm-wide text-white" type="button" id="button-addon2">Subscribe</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
